@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Playfair Display, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}

@layer components{
  .heroBtn{
    @apply px-6 py-2 border rounded-full uppercase mx-2 border-purple-3 text-xs tracking-widest text-purple-9 hover:border-purple-9/40 hover:text-purple-8 transition-all
  }
}

