@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  background-color: #84cdee;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Playfair Display, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}


